# Python Data Structures
* Author: Jason J Ortiz 
* Github Repository: https://github.com/BbBot64/Python_Essentials 

* Built-In Python Data Structures:
* --> Lists & Tuples
* --> Dictionaries
* --> Sets

## Lists & Tuples

### Tuples
* Tuples are an ordered sequence
* Tuples are written as comma-separated elements within parentheses
* Elements can be any/mixed data-types: Including other tuples (Tuple Nesting)
* Tuples can be concatenated
* Tuples can be sliced
* Tuples are Immutable

In [24]:
mixed_data_type_tuple = ('disco', 10, 1.2)

print(f'Full Tuple: {mixed_data_type_tuple}')
print(f'Full Tuple Length: {len(mixed_data_type_tuple)}\n')

print(f'Element 0: {mixed_data_type_tuple[0]}')
print(f'Element 1: {mixed_data_type_tuple[1]}')
print(f'Element 2: {mixed_data_type_tuple[2]}\n')

print(f'Element -2: {mixed_data_type_tuple[-2]}')
print(f'Element -1: {mixed_data_type_tuple[-1]}')
print(f'Element 0: {mixed_data_type_tuple[0]}')

Full Tuple: ('disco', 10, 1.2)
Full Tuple Length: 3

Element 0: disco
Element 1: 10
Element 2: 1.2

Element -2: 10
Element -1: 1.2
Element 0: disco

##### Concatenating Tuples

In [25]:
add_on_tuple = ('hard rock', 10)
concatenated_tuple = mixed_data_type_tuple + add_on_tuple
print(f'Concatenated Tuple: {concatenated_tuple}')

Concatenated Tuple: ('disco', 10, 1.2, 'hard rock', 10)

##### Slicing Tuples

In [17]:
tuple_slice_1 = concatenated_tuple[1:4]
print(f'Tuple Slice 1: {tuple_slice_1}')

Tuple Slice 1: (10, 1.2, 'hard rock')

In [19]:
tuple_slice_2 = concatenated_tuple[2:5]
print(f'Tuple Slice 2: {tuple_slice_2}')

Tuple Slice 2: (1.2, 'hard rock', 10)

##### Tuples are Immutable
* But can be sorted

In [23]:
ratings = (10, 9, 6, 5, 10, 8, 9, 6, 2)
ratings_sorted = sorted(ratings)
print(f'Unsorted Tuple: {ratings}')
print(f'Sorted Tuple: {ratings_sorted}')

Unsorted Tuple: (10, 9, 6, 5, 10, 8, 9, 6, 2)
Sorted Tuple: [2, 5, 6, 6, 8, 9, 9, 10, 10]

##### Tuple Nesting

In [38]:
nested_tuple = (1, 2, ("pop", "rock"), (3, 4), ("disco", (1, 2)))
print(f'Full Nested Tuple: {nested_tuple}\n')

print(f'First Nested Tuple: {nested_tuple[2]}')
print(f'Second Element of First Nested Tuple: {nested_tuple[2][1]}\n')

print(nested_tuple[4])
print(f'Last Element of Last Nested Tuple: {nested_tuple[-1][-1][-1]}')

Full Nested Tuple: (1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

First Nested Tuple: ('pop', 'rock')
Second Element of First Nested Tuple: rock

('disco', (1, 2))
Last Element of Last Nested Tuple: 2

### Lists
* Lists are also Ordered sequences
* Lists are Mutable
* Lists can contain elements of any/mixed data-types, including other lists or tuples (List Nesting)
*

In [78]:
full_list = ['Alan Turing', 10.1, 1912]
print(f'Full List: {full_list}')

print(f'First Element of List: {full_list[0]}')
print(f'Last ELement of List: {full_list[-1]}')

Full List: ['Alan Turing', 10.1, 1912]
First Element of List: Alan Turing
Last ELement of List: 1912

#### List Concatenation
* Adding lists
* .extend() adds the items to the list

In [79]:
print(f'Full List: {full_list}\n')

initials = full_list[0][0] + full_list[0][5]
add_on_list = [initials, 1]
print(f'List to be added onto Full List: {add_on_list}')

concatenated_list = full_list + add_on_list
print(f'Concatenated List: {concatenated_list}')

Full List: ['Alan Turing', 10.1, 1912]

List to be added onto Full List: ['AT', 1]
Concatenated List: ['Alan Turing', 10.1, 1912, 'AT', 1]

OR

In [80]:
print(f'Full List: {full_list}\n')

print(f'List to be added onto Full List: {add_on_list}')

full_list.extend(add_on_list)
print(f'Concatenated List (using .extend()): {full_list}')

Full List: ['Alan Turing', 10.1, 1912]

List to be added onto Full List: ['AT', 1]
Concatenated List (using .extend()): ['Alan Turing', 10.1, 1912, 'AT', 1]

#### List Slicing

In [81]:
list_slice_1 = concatenated_list[3:5]
print(f'List Slice 1: {list_slice_1}')

List Slice 1: ['AT', 1]

In [82]:
list_slice_2 = concatenated_list[-5:-2]
print(f'List Slice 2: {list_slice_2}')

List Slice 2: ['Alan Turing', 10.1, 1912]

#### List Appending

In [83]:
print(f'Full List: {full_list}\n')
add_on_list_2 = ['Father of Artificial Intilligence', 'Machine Learning']
full_list.append(add_on_list_2)
print(f'Appended List: {full_list}')

Full List: ['Alan Turing', 10.1, 1912, 'AT', 1]

Appended List: ['Alan Turing', 10.1, 1912, 'AT', 1, ['Father of Artificial Intilligence', 'Machine Learning']]

#### List Mutability

In [84]:
print(f'Full List: {full_list}\n')
full_list[4] = '41 Years Old'
print(f'Full List after modifying element 5: {full_list}')

Full List: ['Alan Turing', 10.1, 1912, 'AT', 1, ['Father of Artificial Intilligence', 'Machine Learning']]

Full List after modifying element 5: ['Alan Turing', 10.1, 1912, 'AT', '41 Years Old', ['Father of Artificial Intilligence', 'Machine Learning']]

#### Deleting an Element from a List

In [86]:
print(f'Full List: {full_list}\n')
del(full_list[1])
print(f'Full List after Deleting: {full_list}')

Full List: ['Alan Turing', 10.1, 1912, 'AT', '41 Years Old', ['Father of Artificial Intilligence', 'Machine Learning']]

Full List after Deleting: ['Alan Turing', 1912, 'AT', '41 Years Old', ['Father of Artificial Intilligence', 'Machine Learning']]

#### Turning a String into a List

In [92]:
example_compound_string_1 = "Machine Learning"
string_to_list_1 = example_compound_string_1.split()
print(f'Compound String "{example_compound_string_1}" -> List of strings {string_to_list_1}')

Compound String "Machine Learning" -> List of strings ['Machine', 'Learning']

In [94]:
example_compound_string_2 = "Machine Learning, Data Science, Data Analytics, Data Engineering, Python, SQL"
string_to_list_2 = example_compound_string_2.split(', ')
print(f'Compound String "{example_compound_string_2}" -> List of strings {string_to_list_2}')

Compound String "Machine Learning, Data Science, Data Analytics, Data Engineering, Python, SQL" -> List of strings ['Machine Learning', 'Data Science', 'Data Analytics', 'Data Engineering', 'Python', 'SQL']

## Dictionaries
* Dictionaries are denoted with curly brackets {}
* The keys have to be immutable and unique (usually strings)
* The values can be immutable, mutable, and duplicates
* Each key and value pair is separated by a comma

### Creating and Accessing a Dictionary

In [102]:
dictionary_1 = {"Key 1": 1, "Key 2": "2", "Key 3": [3, 3, 3], "Key 4": (4, 4, 4), ('Key 5'): 5}
print(dictionary_1["Key 3"])

[3, 3, 3]

### Creating and Printing a Dictionary

In [109]:
movies_dictionary = {"Thriller": "1982", "Back in Black": "1980", "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", "Bat Out of Hell": "1977", "Their Greatest...": "1976", "Saturday Night Fever": "1976", "Rumours": "1977"}
print(movies_dictionary)

{'Thriller': '1982', 'Back in Black': '1980', 'The Dark Side of the Moon': '1973', 'The Bodyguard': '1992', 'Bat Out of Hell': '1977', 'Their Greatest...': '1976', 'Saturday Night Fever': '1976', 'Rumours': '1977'}

### Adding a Key / Value pair to a Dictionary

In [108]:
movies_dictionary["Graduation"] = "2007"
print(movies_dictionary)

{'Thriller': '1982', 'Back in Black': '1980', 'The Dark Side of the Moon': '1973', 'The Bodyguard': '1992', 'Bat Out of Hell': '1977', 'Their Greatest...': '1976', 'Saturday Night Fever': '1976', 'Rumours': '1977', 'Graduation': '2007'}

### Deleting a Key / Value pair from a Dictionary

In [111]:
del(movies_dictionary["Their Greatest..."])
print(movies_dictionary)

{'Thriller': '1982', 'Back in Black': '1980', 'The Dark Side of the Moon': '1973', 'The Bodyguard': '1992', 'Bat Out of Hell': '1977', 'Saturday Night Fever': '1976', 'Rumours': '1977'}

### Dictionary Control Flow
* .get() to return a dictionary's value of a given key

In [138]:
user_input_dictionary = input("Choose a Movie title to get the Release Year of:")
if user_input_dictionary in movies_dictionary:
    print(f'"{user_input_dictionary}" Release Date: {movies_dictionary.get(user_input_dictionary)}')
else:
    print("Sorry we don't have the Release Date for that movie.")

Sorry we don't have the Release Date for that movie.

### Accessing a Dictionary's keys

In [119]:
movie_keys = movies_dictionary.keys()
print(movie_keys)

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Saturday Night Fever', 'Rumours'])

### Accessing a Dictionary's values

In [124]:
movie_values = movies_dictionary.values()
print(movie_values)

dict_values(['1982', '1980', '1973', '1992', '1977', '1976', '1977'])

## Sets
* Sets are a type of collection: meaning that like lists and tuples you can input different Python types
* Unlike lists and tuples they are unordered: meaning sets don't rcord element position
* Sets only have unique elements: meaning there's only one of a particular element in a set
*

### Creating a Set

In [134]:
content_to_set = "hard, rock, hard, times, rock, are, hard, like, obsidian".split(", ")
print(f'Content in List:\n{content_to_set}\n')

example_set_1 = set(content_to_set)
print(f'The Same Content in a Set:\n{example_set_1}')

Content in List:
['hard', 'rock', 'hard', 'times', 'rock', 'are', 'hard', 'like', 'obsidian']

The Same Content in a Set:
{'times', 'rock', 'like', 'obsidian', 'are', 'hard'}

### Set Operations

#### Adding an element to a Set

In [135]:
print(f'Example in Set 1:\n{example_set_1}\n')
example_set_1.add("sword")
print(f'Set 1 after adding "sword":\n{example_set_1}')

Example in Set 1:
{'times', 'rock', 'like', 'obsidian', 'are', 'hard'}

Set 1 after adding "sword":
{'times', 'rock', 'like', 'obsidian', 'are', 'hard', 'sword'}

#### Deleting an element from a Set

In [136]:
print(f'Example in Set 1:\n{example_set_1}\n')
example_set_1.remove("are")
print(f'Set 1 after removing "are":\n{example_set_1}')

Example in Set 1:
{'times', 'rock', 'like', 'obsidian', 'are', 'hard', 'sword'}

Set 1 after removing "are":
{'times', 'rock', 'like', 'obsidian', 'hard', 'sword'}

#### in Set: True/False
* Can use for control flow

In [141]:
user_input_set = input("Choose a word to see if it is in the set:")
if user_input_set in example_set_1:
    print(f'"{user_input_set}" is in the Set!')
else:
    print("Sorry that word isn't in the Set.")

Sorry that word isn't in the Set.

#### Mathematical Set Operations
* &: Intersection
* .union(): Union
* .issubset(): Subset

#### &: Intersection

In [147]:
content_to_set_2 = "wolves, moon, howl, teeth, hard, rock, moon, rock".split(", ")
print(f'Content in Example List 2:\n{content_to_set}\n')

example_set_2 = set(content_to_set_2)
print(f'The Same Content in Example Set 2:\n{example_set_2}')

Content in Example List 2:
['hard', 'rock', 'hard', 'times', 'rock', 'are', 'hard', 'like', 'obsidian']

The Same Content in Example Set 2:
{'teeth', 'rock', 'howl', 'hard', 'moon', 'wolves'}

In [159]:
print(f'Content in Example Set 1: {example_set_1}\n')
print(f'Content in Example Set 2:\n{example_set_2}\n')

example_sets_intersection = example_set_1 & example_set_2
print(f'Intersection of Example Sets 1 & 2: {example_sets_intersection}')

Content in Example Set 1: {'times', 'rock', 'like', 'obsidian', 'hard', 'sword'}

Content in Example Set 2:
{'teeth', 'rock', 'howl', 'hard', 'moon', 'wolves'}

Intersection of Example Sets 1 & 2: {'hard', 'rock'}

#### .union: Union

In [158]:
print(f'Content in Example Set 1: {example_set_1}\n')
print(f'Content in Example Set 2:\n{example_set_2}\n')

example_sets_union = example_set_1.union(example_set_2)
print(f'Union Example Sets 1 & 2: {example_sets_union}')

Content in Example Set 1: {'times', 'rock', 'like', 'obsidian', 'hard', 'sword'}

Content in Example Set 2:
{'teeth', 'rock', 'howl', 'hard', 'moon', 'wolves'}

Union Example Sets 1 & 2: {'times', 'teeth', 'rock', 'like', 'howl', 'obsidian', 'hard', 'moon', 'sword', 'wolves'}

#### .issubset: Subset

In [170]:
print(f'Content in Example Set 1: {example_set_1}\n')
print(f'Content in Example Set 2:\n{example_set_2}\n')

subset_test_1 = set(['rock', 'sword', 'obsidian'])
print(f'Is {subset_test_1} a subset of Example Set 1?: {subset_test_1.issubset(example_set_1)}')

subset_test_2 = set(['rock', 'sword', 'obsidian'])
print(f'Is {subset_test_2} a subset of Example Set 1?: {subset_test_2.issubset(example_set_2)}')

Content in Example Set 1: {'times', 'rock', 'like', 'obsidian', 'hard', 'sword'}

Content in Example Set 2:
{'teeth', 'rock', 'howl', 'hard', 'moon', 'wolves'}

Is {'rock', 'obsidian', 'sword'} a subset of Example Set 1?: True
Is {'rock', 'obsidian', 'sword'} a subset of Example Set 1?: False

In [171]:
type(subset_test_1)

set